body{
    margin: 0px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-content: center;
    background-image: url(Number_Guessing_background.png);
    text-align: center;
    align-items: center;
    display: flex;
    
}
#game{
    height: inherit;
    width:500px;
    align-items: center;
    align-content: center;
    margin: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid;
    border-color: black;
   
}
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(32, 35, 38);
    }
    button{
        margin: 10px;
        padding :5px;
        border-radius:5px;
        align-content: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    
button:hover{
    background-color: rgb(77, 77, 74);
}
    

label{
    display:block;
    margin: auto;
    padding: 10;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font: bold;

}
#message{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(53, 34, 9);
}
    
